body.woocommerce-cart{

    article { padding: .25rem }

    a.shipping-calculator-button{ color: $color-white; }



    .shop_table{

        th{
            background-color: $bg-color-alt-dark !important;
            color: $color-white;
        }

        td { padding: .5rem; }

        tr.woocommerce-shipping-totals td{
            background-color: $color-white !important;
            color: $color-black;


            p { margin: 0px; }
            
            span.woocommerce-Price-amount{
                color: $color-price-red;
                font-size: 1rem;
            }
        }

        .woocommerce-shipping-destination{
            padding: .75rem 0;
            font-size: .9rem;
            font-weight: 700;
            text-align: center;
            text-decoration: underline;

        }

        .shipping-calculator-button { color: $link-color-blue; }
        
        ul.shipping_method{
            li{
                display: flex;
                margin: 0;
                padding: .5rem 0;

                h1.iww-date-estimate{
                    font-size: .5rem;
                }

                label, input.shipping_method{
                    margin: 0;

                    
                }

            }
        }

        .woocommerce-Price-amount{
            color: $color-white;
            font-size: 1rem;
        }

        .woocommerce-cart-form__cart-item {
            display: flex;
            border-bottom: $border-light;
            padding: .5rem;

            & > a{
                display: flex;
                justify-content: center;
                align-items: center;

                margin-right: .75rem;

                img{
                    width: 100%;
                    @media #{$phone-width}{
                        max-height: none;
                    }
                    
                    max-height: 175px;
                }
            }

            div{
                
                p.product-price{
                    font-size: 100%;
                    line-height: 1.2rem;
                    margin: 1rem 0;
    
                    span.amount:last-child{
                        &:before{
                            content: "";
                        }
                    }
            
                    span.amount{
                        &:first-child:before{
                            color: #777;
                            font-size: .75rem;
                            content: "Price:";
                            padding-right: .25rem;
                        }
                        
                        color: $color-price-red;
                        font-size: 1.2rem;
                    }
                }
    
                p.product-name{
                    a { text-decoration: none; }
                    font-size: .9rem;
                    padding: .25rem 0;
                    margin: 0;
                }

                .variation{
                    display: flex;
                    margin: 0;

                    dd{ 
                        padding-right: 1rem;
                        margin: 0; 

                        p{ padding-left: .25rem; margin: 0; }
                    }
                }
    
                .cart-item-actions{
                    align-items: baseline;
    
                    .quantity{
                        input{ padding:.5rem; }
                    }
                    a.delete { padding: 0 .5rem; text-decoration: none; }
                }
            }

            

        }

        button[name="update_cart"]{
            float: right;
            margin: 1rem;
        }
    }

    .cart-collaterals{

        @media #{$phone-width} {
            order: -1;
        }

        .msp-checkout{
            width: 100%;
            font-size: 1.25rem;
            text-align: center;
            margin: .75rem 0;

        }

        .cart_totals, .cross-sells {
            width: 100%;
        }
    }
}