table{
	border: 1px solid $color-light-grey;

	tr{
		border-bottom: 1px solid $color-light-grey;

		&:last-child{
			border: none;
		}
	}


}

a{
    text-decoration: none;
    color: $link-color-blue;
}