.site-footer{
    background-color: $color-black;
    color: $color-white;
    border-top: 1px solid $color-white;
    
    padding: 1rem 0 0 0;

    h1, h2, h3, h4, h5, h6{
        color: $color-primary;
    }

    ul li {
        list-style: inside;

        a{
            color: $color-white !important;
            text-decoration: none;
        }
    }
}

#msp-copyright{
    background-color: $bg-color-alt;

    a{

        color: $color-black;
    }
}