#masthead{
	.navbar{
		padding: 0 0 .25rem 0;

		a.nav-link{ color: $color-white; }
		.container{ padding: 0 .25rem; }
	}

    .mobile-menu-button i{ color: #fff; }

	#header-menu{
		ul{
			flex-direction: row;

			li{
				padding: 0 0.25rem;
				margin: 0 0.25rem;
				border-bottom: 2px solid $color-primary;

				a{
					padding: 0;
					margin: 0;
				}
			}
		}
	}
	
}

.msp-shop-subnav{
	justify-content: center;

	li{
		
		margin: 0;
		padding: 0;

		&:first-child{ border-left: 1px solid $color-white; }
		
		&:hover > .sub-menu{ display: flex; }
		
		a.nav-link{
			padding: 0 .75rem;
			color: $color-white;
			border-right: 1px solid $color-white;
			font-weight: 600;;
		}
		
		.sub-menu{
			// display: none;
			position: absolute;
			left: 0;
			list-style: none;

			width: 100%;
			padding: 1rem 10rem;

			@media #{$phone-width} {
				padding: 0rem;
			}

			margin: 0;
			z-index: 100;

			background-color: $color-white;
			border-bottom: $border-light;
			border-left: $border-light;
			border-right: $border-light;

			li{
				width: 20%;

				a{
					color: $link-color-blue;
					font-weight: 600;
					text-align: center;

					img{
						border: $border-light;
						padding: .5rem;
						margin: 0 auto;
					}
				}

			}


		}
	}
}


#msp-top-bar{
	display: block;
	text-align: center;
	font-weight: 600;
	background-color: #ffe16d;
	color: #513b3b;
    cursor: pointer;
    border: $border-light;
}

#mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 356px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;

	.title {
		background-color: $color-black;
		color: $color-white;
	}

	li {
		font-size: 16px;
		padding-left: 1.5rem;
		font-weight: 400;
		border-bottom: 1px solid rgba(0,0,0,0.1);

		&:hover {
			background-color: $color-white;
			color: $color-white;
			cursor: pointer;
		}
	}

	> a.close {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 32px;
		color: $color-white;
		text-align: center;
		cursor: pointer;
	}

	.mobile-label {
		padding-left: 1.5rem;

		color: $color-black;

		font-weight: 600;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin: 0 0 .5rem 0;
	}

}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1001;
	will-change: transform;
	background-color: $color-white;
	min-height: 100vh;
	&:before {
		content: '';
		display: block;
		background-color: $color-black;
		transition: background-color 0.25s ease-in-out;
	}
}

.slideout-open {
	overflow: hidden;
	body {
		overflow: hidden;
	}
	.slideout-panel {
		overflow: hidden;
	}
	.slideout-menu {
		display: block;
	}
}

.panel-open {
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 99;
	}
}

body.modal-open {
	.slideout-panel {
		transform: none !important;
		z-index: unset !important;
		will-change: unset !important;
	}
}

