.right-sidebar {
	.content-area {
		width: 100% !important;
	}
	.widget-area {
		width: 100% !important;
	}
}

@media #{$phone-width} {
	body{
		.col-full{
			margin: 0;
		}
	}
}

#primary{
	margin: 0;
	padding: 0;
}

#main{
	padding: 0;
	margin: 0;
}

.footer-widgets{
	max-width: 100%;
}

#msp-copyright{
	text-align: center;
}