body {

    .archive{
        background-color: #fff;
    }
    
    .storefront-breadcrumb{
        padding: 0;
        margin: 0 0 1rem 0;

        @media #{$phone-width}{
            display: none;
        }

        .col-full{
            max-width: 100%;
            padding: 0 0.5rem;
        }

        .woocommerce-breadcrumb{
            color: #fff;
            font-size: 0.75rem;

            a{
                color: #333;
            }

            span{
                color: #000;

                &:last-child{
                    color: #fff;
                }
            }
        }
    }

    .owl-carousel{
        position: relative;

        .owl-nav{
           position: absolute;
           width: 100%;
           margin: 0 -7px;
           font-size: 6rem;
           line-height: 0px;
           text-align: center;
           justify-content: space-between;
           display: flex;
           top: 30%;
           color: $color-primary;

        }

    
        .owl-item{

            .woocommerce-LoopProduct-link.woocommerce-loop-product__link{
                max-height: 200px;
                display: flex; 

                -webkit-box-orient: horizontal; 
                -moz-box-orient: horizontal;
                flex-direction: row;

                -webkit-box-pack: center;
                -moz-box-pack: center;
                justify-content: center;

                -webkit-box-align: center;
                -moz-box-align: center;
                align-items: center;

                img{
                    height: auto;
                    width: auto;
                    
                }
            }
        }
    }
}

#msp-sidebar{

    background-color: $color-black;
    color: $color-white;
    border-right: 1px dotted rgba(0,0,0,0.1);

    .woocommerce-widget-layered-nav-list{
        max-height: 140px;
        overflow: hidden;

    }

    #mobile-filter-wrapper{
        display: none;
        justify-content: space-between;
        padding: 0.25rem 1rem;
        margin: 0 -15px;
        background-color: $bg-color-alt-dark;
        color: #fff;
        font-weight: 700;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    
    
        p{
            display: inline;
            margin: 0;
            padding: 0;
        }
    
        a.badge{
            cursor: pointer;
            font-size: .85rem;
            background-color: $color-primary;
            color: $color-black;

        }

        @media (max-width: 576px) {
            display: flex;
        }
    }

    .widget-area{
        padding: .5rem 0;
        
        span.widget-title{
            color: $color-secondary;
            font-weight: 600;
            border-bottom: 2px dotted $color-white;
            padding: 0;
        }
    
        a{
            color: $color-white;
        }
    }

    
}

#msp-results{
    height: 100%;
    background-color: #fff;

    div.term-description{
        padding: 1rem;
        border-bottom: $border-light;
    }

    header{
        display: block;
        margin: 0 -15px;
        background-color: #fff;
        padding: 1rem .5rem;
    }
}

#msp-archive{

    background-color: #fff;

    li{ 
        list-style: none;
        border: $border-light;
        padding: .25rem;
        text-align: center;

        .product-brand a{
            font-weight: 800;
            color: $color-black;
        }
    }

    h2.woocommerce-loop-product__title{
        font-size: 0.9rem;

        @media #{$phone-width}{ font-size: 0.75rem; }

        max-height: 50px;

        
        @include text-ellipsis;

        color: $link-color-blue;
        font-weight: 600;
        margin-top: .5rem;
    }

    .star-rating{ margin: 0 auto; }

    .woocommerce-LoopProduct-link.woocommerce-loop-product__link{
        height: 200px;

        display: flex; 
        -webkit-box-orient: horizontal; 
        -moz-box-orient: horizontal;
        flex-direction: row;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        justify-content: center;

        -webkit-box-align: center;
        -moz-box-align: center;
        align-items: center;

        img{
            height: auto;
            width: auto;

            max-height: 100%;
            max-width: 100%;
        }
    }

    .price {
        margin: 0;
        overflow: hidden;
        color: $color-price-red;
        
        span.amount{
            font-size: 1rem;

            &:first-child:before{
                display: none;
            }
        }

        .unit_price {
            font-size: .8rem;
            color: $color-dark-grey;
            margin-left: .25rem;
        }
    }
}



