// MEDIA QUERIES
$phone-width: "only screen and (max-width: 576px)";

// BORDERS
$border-light: 1px solid rgba(0,0,0,0.1);
$border-med: 1px solid rgba(0,0,0,0.3);
$border-hard: 1px solid rgba(0,0,0,0.5);

$color-light-grey: rgba(0,0,0,0.1);
$color-med-grey: rgba(0,0,0,0.5);
$color-price_red: rgb(177, 39, 4);

$color-primary: #ff1b1b;
$color-secondary: #0d237d;

$color-white: #fff;
$color-black: #333;

$link-color-blue: #0066c0;

.text-light{ color: $color-white };
.text-dark{ color: $color-black };

// FONT
$font_roboto: 'Roboto', sans-serif;

/// FONT SIZE
$font-size-xs: 0.25rem;
$font-size-sm: 0.5rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
