// BORDERS
$border-light: 1px solid rgba(0,0,0,0.1);
$border-med: 1px solid rgba(0,0,0,0.3);
$border-hard: 1px solid rgba(0,0,0,0.5);

$color-light-grey: rgba(0,0,0,0.1);
$color_1: red;
$color_2: #333;
$color_3: #fff;
$color_4: rgb(85, 85, 85);
$color_price_red: rgb(177, 39, 4);
$color_6: grey;
$color_7: #28a745;

$primary: #ff1b1b;
$secondary: #0d237d;

$color_9: #e3c000;
$color_10: #B2DD58;
$color_11: rgba(0,0,0,0.5);
$color_12: unset;
$color_13: #666;

$link-color-blue: rgb(0, 102, 192);

// FONT
$font_roboto: 'Roboto', sans-serif;

$white: #fff;
$color-medium-black: #333;
$bg-color-light-grey: #f9f9f9;
$background_color_3: #515762;
$background_color_4: green;
$background_color_5: #00c400;
$background_color_6: #0f834d;
$background_color_7: #e84c3d;
$background_primary: #FFF;
$black: rgba(0,0,0,1);
$white0: rgba(0,0,0,.5);
$white1: rgba(0,0,0,0.1);
$white2: #B0413E;
$white3: #f7f7f7;
$white4: #893a3e;