// MEDIA QUERIES
$phone-width: "only screen and (max-width: 576px)";

// BORDERS
$border-light: 1px solid rgba(0,0,0,0.1);
$border-med: 1px solid rgba(0,0,0,0.3);
$border-hard: 1px solid rgba(0,0,0,0.5);

$color-light-grey: rgba(0,0,0,0.1);
$color-med-grey: rgb(232,232,232);
$color-dark-grey: #4a4a4a;

$color-price-red: rgb(177, 39, 4);

$color-primary: #ff5e56;
$color-secondary: #049cc2;

$color-white: #fff;
$color-black: #333;

$bg-color-alt: #9b9b9b;
$bg-color-alt-med: #828282;
$bg-color-alt-dark: #4a4a4a;

$link-color-blue: #0066c0;

// FONT
$font_roboto: 'Roboto', sans-serif;

/// FONT SIZE
$font-size-xs: 0.25rem;
$font-size-sm: 0.5rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;


